.accordion .accordion-title {
  padding: 10px;
  background: #045ee6;
  color: white;
  cursor: pointer;
}

.accordion .accordion-title::after {
  content: '\002B';
  float: right;
}

.accordion .accordion-content {
  display: none;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-size: 16px;
}

.accordion .accordion-active .accordion-title::after {
  content: "\2212";
}

.accordion .accordion-active .accordion-content {
  display: block;
}